.header {
background-color: #1F2937;
display:flex;
justify-content: space-between;
}

.headerLogo {
    margin-left: 50px;
    font-size: 24px;
    color:#F9FAF8;
}

.headerLinks {
font-size: 18px;
color:#E5E7EB;
margin-right:50px;
align-self: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }

.encabezado {
    display:flex;
    background-color: #1F2937;
    padding: 0px;
}
.columna 1 {
display: flex;

}

.titulo { 
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.subtitulo {
    font-size:18px;
    color:#E5E7EB;
}
