.header {
background-color: #1F2937;
display:flex;
justify-content: space-between;
}

.headerLogo {
    margin-left: 350px;
    font-size: 24px;
    color:#F9FAF8;
}

.headerLinks {
font-size: 18px;
color:#E5E7EB;
margin-right:50px;
align-self: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }

/* End of first navbar*/

.encabezado {
    display: flex;
    background-color: #1F2937;
    height: 600px;
}

.columna2 {
display: flex;
justify-content: center;
}


.titulo { 
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    width: 600px;
    height: 220px;
}
.subtitulo {
    font-size:18px;
    color:#E5E7EB;
    width: 510px;
}
.columna1 {
    margin-left: 350px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}
.columna2 {
    padding: 100px;
    width: 600px;
}
.signupbutton {
    background-color:#3882F6;
    color:#F9FAF8;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    border-radius: 8px;
}

/* End of header*/
